In [2]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\ganer\appdata\roaming\python\python39\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\ganer\appdata\roaming\python\python39\site-packages (from pymongo) (2.2.1)

In [1]:
# import module
from pymongo import MongoClient

In [2]:
# create a mongo client for connection to host and port
try:
    client = MongoClient("localhost", 27017)
    print("Connection Successful!!")
except:
    print("Could not connect to MongoDB")

Connection Successful!!

In [3]:
# create a database or switch to an existing database
db = client["telem"]
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'telem')

In [4]:
# accesing the collection
cln = db["Product"]

In [16]:
#insert into collection one document2
cln.insert_one( { 'Name': 'Test', 'Price':100.34 } )

## Querying

In [5]:
print(cln.find({'Name': 'Rest'},
               {'_id': 0})[0])

{'Name': 'Rest', 'Price': 100.34}

In [6]:
db.collection[0]

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'telem'), 'collection.0')

In [30]:
# result = cll.update_one( {'Name' : 'Best'},
#                         { '$set': { 'Name' : 'Rest' } }
#                         )

In [45]:
cursor = cln.find(
{},
{'_id': 0})

for record in cursor:
    print(record)

{'Name': 'Rest', 'Price': 100.34}
{'Name': 'Rest', 'Price': 100.34}
{'Name': 'Best', 'Price': 100.34}
{'Name': 'Best', 'Price': 100.34}

In [32]:
print(result.matched_count)

1

## Dumping dataframe to MongoDB

In [71]:
!dir

 Volume in drive D is Storage
 Volume Serial Number is E457-CEE6

 Directory of D:\Lemonrice\virtual_demo

27/03/2023  15:23    <DIR>          .
27/03/2023  15:23    <DIR>          ..
11/03/2023  13:34    <DIR>          .ipynb_checkpoints
13/03/2023  13:06           162,643 1.png
13/03/2023  13:07            72,816 2.png
13/03/2023  13:08           334,937 3.png
26/03/2014  11:22         5,834,924 bank-additional-full.csv
14/02/2012  14:40         4,610,348 bank-full.csv
14/02/2012  14:40         4,610,348 bank-full_copy.csv
10/03/2023  15:29           927,049 bank-telemarketing-dataset.zip
10/03/2023  01:10            61,303 Bank_campaign_ML.ipynb
09/03/2023  18:44         4,463,643 bank_full_tableau_.csv
11/03/2023  22:50         9,622,056 b_pdf_3_11_1.csv
10/03/2023  09:19         8,013,946 data_out.csv
01/03/2023  23:09            26,955 date_map.ipynb
02/03/2023  14:04            37,059 date_map_colab_32_1.ipynb
09/03/2023  23:22            71,824 date_map_colab_32_2.ipynb
09/03/2023  14:48             4,032 demo_piplist.txt
10/03/2023  17:03    <DIR>          kaggle
10/03/2023  16:07            99,423 Kaggle_API_token.png
11/03/2023  13:41             6,516 Kaggle_API_use.ipynb
09/03/2023  13:19           104,890 Mandar_Spark_Bank_Campaign_3_9_1.ipynb
01/03/2023  22:58            32,510 map_date2.ipynb
10/03/2023  16:23           119,973 ml_3_8_1_jupy.ipynb
03/03/2023  18:37         7,725,410 ml_sdf_test.csv
27/03/2023  15:19            24,781 MongoDB_connectivity_3_11_1.ipynb
11/03/2023  22:59            28,848 Oversampling method_3_10_1.ipynb
10/03/2023  17:06         9,746,520 oversampling_bank_full_3_10_1.csv
03/03/2023  16:02           385,367 parq_test
03/03/2023  18:19           385,367 parq_test.parquet
03/03/2023  16:03           385,367 parq_test.zip
02/03/2023  19:50            83,496 preprocessing.ipynb
09/03/2023  13:33           123,842 preprocessing_3_2_1_jupy.ipynb
06/03/2023  12:37           517,222 preprocessing_3_3_1_jupy.ipynb
13/03/2023  15:09    <DIR>          ProjectRun
08/03/2023  12:06        10,434,776 quarter.csv
24/02/2023  18:08             2,160 requirements.txt
02/03/2023  01:45         5,812,080 result_mdate.csv
02/03/2023  19:50         5,770,891 res_add_date.csv
02/03/2023  19:50         4,463,507 res_full_date2 - Copy.csv
02/03/2023  19:50         4,463,507 res_full_date2.csv
09/03/2023  12:58            21,971 Spark_Bank_Campaign.ipynb
06/03/2023  18:43            16,149 spark_preprocessing_3_6_1.ipynb
02/03/2023  19:50           266,109 subscription_status.ipynb
08/03/2023  16:01         9,975,910 teledf_preML.csv
03/03/2023  18:19         8,599,541 tele_df.csv
09/03/2023  14:49            28,963 touch_3_8_1.ipynb
10/03/2023  08:59            79,838 touch_9_3_23.ipynb
24/02/2023  18:20                72 Untitled.ipynb
10/03/2023  09:32            60,942 Untitled1.ipynb
              45 File(s)    108,619,831 bytes
               5 Dir(s)  74,767,032,320 bytes free

In [72]:
from pprint import pprint
import pandas as pd

In [77]:
# loading dataframe for testing purpose

df_bfull = pd.read_csv(r"bank-full.csv", sep = ";")
df_bfull

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [80]:
db = client['my_db']
cln = db['my_cln']

In [54]:
df_bfull.reset_index(inplace = True)
df_dicti = df_bfull.to_dict("records")

# Insert collection
cln.insert_many(df_dicti)

In [76]:
cursor = cln.find({},
                  {'_id':0}
).limit(7)

for document in cursor:
    pprint(document)

{'age': 58,
 'balance': 2143,
 'campaign': 1,
 'contact': 'unknown',
 'day': 5,
 'default': 'no',
 'duration': 261,
 'education': 'tertiary',
 'housing': 'yes',
 'index': 0,
 'job': 'management',
 'level_0': 0,
 'loan': 'no',
 'marital': 'married',
 'month': 'may',
 'pdays': -1,
 'poutcome': 'unknown',
 'previous': 0,
 'y': 'no'}
{'age': 44,
 'balance': 29,
 'campaign': 1,
 'contact': 'unknown',
 'day': 5,
 'default': 'no',
 'duration': 151,
 'education': 'secondary',
 'housing': 'yes',
 'index': 1,
 'job': 'technician',
 'level_0': 1,
 'loan': 'no',
 'marital': 'single',
 'month': 'may',
 'pdays': -1,
 'poutcome': 'unknown',
 'previous': 0,
 'y': 'no'}
{'age': 33,
 'balance': 2,
 'campaign': 1,
 'contact': 'unknown',
 'day': 5,
 'default': 'no',
 'duration': 76,
 'education': 'secondary',
 'housing': 'yes',
 'index': 2,
 'job': 'entrepreneur',
 'level_0': 2,
 'loan': 'yes',
 'marital': 'married',
 'month': 'may',
 'pdays': -1,
 'poutcome': 'unknown',
 'previous': 0,
 'y': 'no'}
{'age': 47,
 'balance': 1506,
 'campaign': 1,
 'contact': 'unknown',
 'day': 5,
 'default': 'no',
 'duration': 92,
 'education': 'unknown',
 'housing': 'yes',
 'index': 3,
 'job': 'blue-collar',
 'level_0': 3,
 'loan': 'no',
 'marital': 'married',
 'month': 'may',
 'pdays': -1,
 'poutcome': 'unknown',
 'previous': 0,
 'y': 'no'}
{'age': 33,
 'balance': 1,
 'campaign': 1,
 'contact': 'unknown',
 'day': 5,
 'default': 'no',
 'duration': 198,
 'education': 'unknown',
 'housing': 'no',
 'index': 4,
 'job': 'unknown',
 'level_0': 4,
 'loan': 'no',
 'marital': 'single',
 'month': 'may',
 'pdays': -1,
 'poutcome': 'unknown',
 'previous': 0,
 'y': 'no'}
{'age': 35,
 'balance': 231,
 'campaign': 1,
 'contact': 'unknown',
 'day': 5,
 'default': 'no',
 'duration': 139,
 'education': 'tertiary',
 'housing': 'yes',
 'index': 5,
 'job': 'management',
 'level_0': 5,
 'loan': 'no',
 'marital': 'married',
 'month': 'may',
 'pdays': -1,
 'poutcome': 'unknown',
 'previous': 0,
 'y': 'no'}
{'age': 28,
 'balance': 447,
 'campaign': 1,
 'contact': 'unknown',
 'day': 5,
 'default': 'no',
 'duration': 217,
 'education': 'tertiary',
 'housing': 'yes',
 'index': 6,
 'job': 'management',
 'level_0': 6,
 'loan': 'yes',
 'marital': 'single',
 'month': 'may',
 'pdays': -1,
 'poutcome': 'unknown',
 'previous': 0,
 'y': 'no'}

In [102]:
df_badf = pd.read_csv('bank-full_copy.csv',
                     sep = ';')
df_badf

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [103]:
cln = db['cln_badd']
cln

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'my_db'), 'cln_badd')

In [105]:
df_badf.reset_index(inplace = True)
badd_dicti = df_badf.to_dict("records")

In [130]:
cln = db["my_cln"]

In [131]:
# insert collection
cln.insert_many(badd_dicti)

In [133]:
db.cln.count_documents({})

0

In [107]:
cursor = cln.find({},
                  {'_id':0}
).limit(7)

for document in cursor:
    pprint(document)

{'age': 58,
 'balance': 2143,
 'campaign': 1,
 'contact': 'unknown',
 'day': 5,
 'default': 'no',
 'duration': 261,
 'education': 'tertiary',
 'housing': 'yes',
 'index': 0,
 'job': 'management',
 'level_0': 0,
 'loan': 'no',
 'marital': 'married',
 'month': 'may',
 'pdays': -1,
 'poutcome': 'unknown',
 'previous': 0,
 'y': 'no'}
{'age': 44,
 'balance': 29,
 'campaign': 1,
 'contact': 'unknown',
 'day': 5,
 'default': 'no',
 'duration': 151,
 'education': 'secondary',
 'housing': 'yes',
 'index': 1,
 'job': 'technician',
 'level_0': 1,
 'loan': 'no',
 'marital': 'single',
 'month': 'may',
 'pdays': -1,
 'poutcome': 'unknown',
 'previous': 0,
 'y': 'no'}
{'age': 33,
 'balance': 2,
 'campaign': 1,
 'contact': 'unknown',
 'day': 5,
 'default': 'no',
 'duration': 76,
 'education': 'secondary',
 'housing': 'yes',
 'index': 2,
 'job': 'entrepreneur',
 'level_0': 2,
 'loan': 'yes',
 'marital': 'married',
 'month': 'may',
 'pdays': -1,
 'poutcome': 'unknown',
 'previous': 0,
 'y': 'no'}
{'age': 47,
 'balance': 1506,
 'campaign': 1,
 'contact': 'unknown',
 'day': 5,
 'default': 'no',
 'duration': 92,
 'education': 'unknown',
 'housing': 'yes',
 'index': 3,
 'job': 'blue-collar',
 'level_0': 3,
 'loan': 'no',
 'marital': 'married',
 'month': 'may',
 'pdays': -1,
 'poutcome': 'unknown',
 'previous': 0,
 'y': 'no'}
{'age': 33,
 'balance': 1,
 'campaign': 1,
 'contact': 'unknown',
 'day': 5,
 'default': 'no',
 'duration': 198,
 'education': 'unknown',
 'housing': 'no',
 'index': 4,
 'job': 'unknown',
 'level_0': 4,
 'loan': 'no',
 'marital': 'single',
 'month': 'may',
 'pdays': -1,
 'poutcome': 'unknown',
 'previous': 0,
 'y': 'no'}
{'age': 35,
 'balance': 231,
 'campaign': 1,
 'contact': 'unknown',
 'day': 5,
 'default': 'no',
 'duration': 139,
 'education': 'tertiary',
 'housing': 'yes',
 'index': 5,
 'job': 'management',
 'level_0': 5,
 'loan': 'no',
 'marital': 'married',
 'month': 'may',
 'pdays': -1,
 'poutcome': 'unknown',
 'previous': 0,
 'y': 'no'}
{'age': 28,
 'balance': 447,
 'campaign': 1,
 'contact': 'unknown',
 'day': 5,
 'default': 'no',
 'duration': 217,
 'education': 'tertiary',
 'housing': 'yes',
 'index': 6,
 'job': 'management',
 'level_0': 6,
 'loan': 'yes',
 'marital': 'single',
 'month': 'may',
 'pdays': -1,
 'poutcome': 'unknown',
 'previous': 0,
 'y': 'no'}

In [135]:
db.cln.aggregate([
    { '$unionWith': { 'coll' : 'my_cln' } },
    { '$out': 'bank_cln' }
])

In [136]:
db.list_collection_names()

['my_cln', 'bank_cln', 'cln_badd']

In [149]:
db.bank_cln.count_documents({})

90422

In [151]:
res = db.cln.find( {
 'contact': 'unknown',
 'default': 'no',
 'education': 'tertiary',
 'housing': 'yes',
 'job': 'management',
 'loan': 'no',
 'marital': 'married',
 'month': 'may',
 'poutcome': 'unknown',
 'y': 'no'} )

for c in res:
    print(c)

In [153]:
dat = pd.DataFrame( list( db.bank_cln.find() ) )

In [155]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90422 entries, 0 to 90421
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   _id        90422 non-null  object
 1   level_0    90422 non-null  int64
 2   index      90422 non-null  int64
 3   age        90422 non-null  int64
 4   job        90422 non-null  object
 5   marital    90422 non-null  object
 6   education  90422 non-null  object
 7   default    90422 non-null  object
 8   balance    90422 non-null  int64
 9   housing    90422 non-null  object
 10  loan       90422 non-null  object
 11  contact    90422 non-null  object
 12  day        90422 non-null  int64
 13  month      90422 non-null  object
 14  duration   90422 non-null  int64
 15  campaign   90422 non-null  int64
 16  pdays      90422 non-null  int64
 17  previous   90422 non-null  int64
 18  poutcome   90422 non-null  object
 19  y          90422 non-null  object
dtypes: int64(9), object(11)
memory usage: 13.8+ MB

In [156]:
dat.head()

,_id,level_0,index,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,64213c2b78db529c7d4c2a6f,0,0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,64213c2b78db529c7d4c2a70,1,1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,64213c2b78db529c7d4c2a71,2,2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,64213c2b78db529c7d4c2a72,3,3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,64213c2b78db529c7d4c2a73,4,4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [158]:
from pyspark.sql import SparkSession

In [164]:
spark = SparkSession.builder.master('local[4]').appName('TestApp').getOrCreate()

In [166]:
df = spark.read.format("mongo").option("uri",
                                      "mongodb://localhost:27017/").load()

Py4JJavaError: An error occurred while calling o32.load.
: java.lang.ClassNotFoundException:
Failed to find data source: mongo. Please find packages at
https://spark.apache.org/third-party-projects.html

	at org.apache.spark.sql.errors.QueryExecutionErrors$.failedToFindDataSourceError(QueryExecutionErrors.scala:587)
	at org.apache.spark.sql.execution.datasources.DataSource$.lookupDataSource(DataSource.scala:675)
	at org.apache.spark.sql.execution.datasources.DataSource$.lookupDataSourceV2(DataSource.scala:725)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:207)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:171)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: java.lang.ClassNotFoundException: mongo.DefaultSource
	at java.base/java.net.URLClassLoader.findClass(URLClassLoader.java:476)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:589)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:522)
	at org.apache.spark.sql.execution.datasources.DataSource$.$anonfun$lookupDataSource$5(DataSource.scala:661)
	at scala.util.Try$.apply(Try.scala:213)
	at org.apache.spark.sql.execution.datasources.DataSource$.$anonfun$lookupDataSource$4(DataSource.scala:661)
	at scala.util.Failure.orElse(Try.scala:224)
	at org.apache.spark.sql.execution.datasources.DataSource$.lookupDataSource(DataSource.scala:661)
	... 15 more

In [ ]:
df.printSchema()

In [7]:
from pyspark import pandas as ps

C:\Users\Ganer\AppData\Roaming\Python\Python39\site-packages\pyspark\pandas\__init__.py:49: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

In [ ]:
sdf_badf = ps.read_csv('bank-full_copy.csv',
                     sep = ';')