In [ ]:
import pandas as pd
import numpy as np
from pyspark.sql import SparkSession
from pyspark.sql.types import *
import seaborn as sns
import matplotlib.pyplot as plt
from pyspark.sql.functions import when
from pyspark.sql.functions import col, sum, count

In [ ]:
spark = SparkSession.builder.master('local[4]').appName('ml').getOrCreate()

### Bank Full (dataset-1)

In [ ]:
bank_full = spark.read.csv('bank-full.csv',header=True,inferSchema=True)

In [ ]:
bank_full.count()

In [ ]:
display(bank_full.limit(5))

In [ ]:
bank_full.printSchema()

In [7]:
new_cols = ["emp_var_rate", "cons_price_idx", "cons_conf_idx", "euribor_3m", "nr_employed"]
for column in new_cols:
    bank_full = bank_full.withColumn(column, bank_full["poutcome"] + 1)

In [8]:
display(bank_full.limit(5))

DataFrame[age: int, job: string, marital: string, education: string, default: string, balance: int, housing: string, loan: string, contact: string, day: int, year: int, month: string, duration: int, campaign: int, pdays: int, previous: int, poutcome: string, y: string, emp_var_rate: double, cons_price_idx: double, cons_conf_idx: double, euribor_3m: double, nr_employed: double]

In [9]:
counts = bank_full.groupBy("year").count()
counts.show()

+----+-----+
|year|count|
+----+-----+
|2009|14862|
|2010| 2620|
|2008|27729|
+----+-----+

In [10]:
from pyspark.sql.types import IntegerType

In [11]:
#new_data = bank_full

### Index mapper

In [38]:
def map_index(new_data):

    index_2008 = {"may":{"emp_var_rate":1.1, "cons_price_idx":93.994, "cons_conf_idx":-36.4, "euribor_3m":4.85, "nr_employed":5191},
                 "jun":{"emp_var_rate":1.4, "cons_price_idx":94.465, "cons_conf_idx":-41.8, "euribor_3m":4.86, "nr_employed":5228.1},
                 "jul":{"emp_var_rate":1.4, "cons_price_idx":93.918, "cons_conf_idx":-42.7, "euribor_3m":4.96, "nr_employed":5228.1},
                 "aug":{"emp_var_rate":1.4, "cons_price_idx":93.444, "cons_conf_idx":-36.1, "euribor_3m":4.965, "nr_employed":5228.1},
                 "oct":{"emp_var_rate":-0.1, "cons_price_idx":93.798, "cons_conf_idx":-40.4, "euribor_3m":5, "nr_employed":5195.8},
                 "nov":{"emp_var_rate":-0.1, "cons_price_idx":93.2, "cons_conf_idx":-42, "euribor_3m":4.406, "nr_employed":5195.8},
                 "dec":{"emp_var_rate":-0.2, "cons_price_idx":92.75, "cons_conf_idx":-45.9, "euribor_3m":3.563, "nr_employed":5176.3}}

    index_2009 = {"jan":{"emp_var_rate":-0.2, "nr_employed":5176.3},
                  "feb":{"emp_var_rate":-0.2, "nr_employed":5176.3},
                  "mar":{"emp_var_rate":-1.8, "cons_price_idx":92.84, "cons_conf_idx":-50, "euribor_3m":1.811, "nr_employed":5099.1},
                  "apr":{"emp_var_rate":-1.8, "cons_price_idx":93.075, "cons_conf_idx":-47.1, "euribor_3m":1.498, "nr_employed":5099.1},
                  "may":{"emp_var_rate":-1.8, "cons_price_idx":92.89, "cons_conf_idx":-46.2, "euribor_3m":1.334, "nr_employed":5099.1},
                 "jun":{"emp_var_rate":-2.9, "cons_price_idx":92.963, "cons_conf_idx":-40.8, "euribor_3m":1.26, "nr_employed":5076.2},
                 "jul":{"emp_var_rate":-2.9, "cons_price_idx":93.469, "cons_conf_idx":-33.6, "euribor_3m":1.072, "nr_employed":5076.2},
                 "aug":{"emp_var_rate":-2.9, "cons_price_idx":92.201, "cons_conf_idx":-31.4, "euribor_3m":0.884, "nr_employed":5076.2},
                 "sep":{"emp_var_rate":-3.4, "cons_price_idx":92.379, "cons_conf_idx":-29.8, "euribor_3m":0.813, "nr_employed":5017.5},
                 "oct":{"emp_var_rate":-3.4, "cons_price_idx":92.431, "cons_conf_idx":-26.9, "euribor_3m":0.754, "nr_employed":5017.5},
                 "nov":{"emp_var_rate":-3.4, "cons_price_idx":92.649, "cons_conf_idx":-30.1, "euribor_3m":0.722, "nr_employed":5017.5},
                 "dec":{"emp_var_rate":-3, "cons_price_idx":92.713, "cons_conf_idx":-33, "euribor_3m":0.718, "nr_employed":5023.5}}

    index_2010 = {"jan":{"emp_var_rate":-3, "nr_employed":5023.5},
                  "feb":{"emp_var_rate":-3, "nr_employed":5023.5},
                   "mar":{"emp_var_rate":-1.8, "cons_price_idx":92.369, "cons_conf_idx":-34.8, "euribor_3m":0.655, "nr_employed":5008.7},
                  "apr":{"emp_var_rate":-1.8, "cons_price_idx":93.749, "cons_conf_idx":-34.6, "euribor_3m":0.64, "nr_employed":5008.7},
                  "may":{"emp_var_rate":-1.8, "cons_price_idx":93.876, "cons_conf_idx":-40, "euribor_3m":0.668, "nr_employed":5008.7},
                 "jun":{"emp_var_rate":-1.7, "cons_price_idx":94.055, "cons_conf_idx":-39.8, "euribor_3m":0.704, "nr_employed":4991.6},
                 "jul":{"emp_var_rate":-1.7, "cons_price_idx":94.215, "cons_conf_idx":-40.3, "euribor_3m":0.79, "nr_employed":4991.6},
                 "aug":{"emp_var_rate":-1.7, "cons_price_idx":94.027, "cons_conf_idx":-38.3, "euribor_3m":0.898, "nr_employed":4991.6},
                 "sep":{"emp_var_rate":-1.1, "cons_price_idx":94.199, "cons_conf_idx":-37.5, "euribor_3m":0.886, "nr_employed":4963.6},
                 "oct":{"emp_var_rate":-1.1, "cons_price_idx":94.601, "cons_conf_idx":-49.5, "euribor_3m":0.959, "nr_employed":4963.6},
                 "nov":{"emp_var_rate":-1.1, "cons_price_idx":94.767, "cons_conf_idx":-50.8, "euribor_3m":1.05, "nr_employed":4963.6}}

    indx = [index_2008, index_2009, index_2010]
    years = [2008, 2009, 2010]
    
    for i in range(len(years)):
        for months, indexes in indx[i].items():
            for index, index_val in indexes.items():
                new_data = new_data.withColumn(index, 
                    when((col('year') == years[i]) & (col('month') == months), index_val).otherwise(col(index))) 
    return new_data

In [13]:
bank_full = map_index(new_data = bank_full)
bank_full.show(5)

+---+------------+-------+---------+-------+-------+-------+----+-------+---+----+-----+--------+--------+-----+--------+--------+---+------------+--------------+-------------+----------+-----------+
|age|         job|marital|education|default|balance|housing|loan|contact|day|year|month|duration|campaign|pdays|previous|poutcome|  y|emp_var_rate|cons_price_idx|cons_conf_idx|euribor_3m|nr_employed|
+---+------------+-------+---------+-------+-------+-------+----+-------+---+----+-----+--------+--------+-----+--------+--------+---+------------+--------------+-------------+----------+-----------+
| 58|  management|married| tertiary|     no|   2143|    yes|  no|unknown|  5|2008|  may|     261|       1|   -1|       0| unknown| no|         1.1|        93.994|        -36.4|      4.85|     5191.0|
| 44|  technician| single|secondary|     no|     29|    yes|  no|unknown|  5|2008|  may|     151|       1|   -1|       0| unknown| no|         1.1|        93.994|        -36.4|      4.85|     5191.0|
| 33|entrepreneur|married|secondary|     no|      2|    yes| yes|unknown|  5|2008|  may|      76|       1|   -1|       0| unknown| no|         1.1|        93.994|        -36.4|      4.85|     5191.0|
| 47| blue-collar|married|  unknown|     no|   1506|    yes|  no|unknown|  5|2008|  may|      92|       1|   -1|       0| unknown| no|         1.1|        93.994|        -36.4|      4.85|     5191.0|
| 33|     unknown| single|  unknown|     no|      1|     no|  no|unknown|  5|2008|  may|     198|       1|   -1|       0| unknown| no|         1.1|        93.994|        -36.4|      4.85|     5191.0|
+---+------------+-------+---------+-------+-------+-------+----+-------+---+----+-----+--------+--------+-----+--------+--------+---+------------+--------------+-------------+----------+-----------+
only showing top 5 rows

### Bank Full Dataset (dataset-2)

In [14]:
bank_add_full = spark.read.csv('bank-additional-full.csv', header=True, inferSchema=True)

In [15]:
bank_add_full.show(5)

+---+---------+-------+-----------+-------+-------+----+---------+-----+----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
|age|      job|marital|  education|default|housing|loan|  contact|month|year|day_of_week|duration|campaign|pdays|previous|   poutcome|emp.var.rate|cons.price.idx|cons.conf.idx|euribor3m|nr.employed|  y|
+---+---------+-------+-----------+-------+-------+----+---------+-----+----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
| 56|housemaid|married|   basic.4y|     no|     no|  no|telephone|  may|2008|        mon|     261|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
| 57| services|married|high.school|unknown|     no|  no|telephone|  may|2008|        mon|     149|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
| 37| services|married|high.school|     no|    yes|  no|telephone|  may|2008|        mon|     226|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
| 40|   admin.|married|   basic.6y|     no|     no|  no|telephone|  may|2008|        mon|     151|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
| 56| services|married|high.school|     no|     no| yes|telephone|  may|2008|        mon|     307|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0| no|
+---+---------+-------+-----------+-------+-------+----+---------+-----+----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
only showing top 5 rows

### replace values from 999 to -1

In [16]:
bank_add_full = bank_add_full.withColumn("pdays", when(col("pdays") == 999, -1).otherwise(col("pdays")))

### Renaming columns names and values

In [17]:
old_col_list = ["emp.var.rate", "cons.price.idx", "cons.conf.idx", "euribor3m", "nr.employed"]
for i in range(0, len(old_col_list)):
    bank_add_full = bank_add_full.withColumnRenamed(old_col_list[i], new_cols[i])

In [18]:
old_edu = ["basic.4y", "high.school", "basic.6y", "basic.9y", "university.degree", "professional.course"]
new_edu = ["basic_4y", "high_school", "basic_6y", "basic_9y", "university_degree" ,"professional_course"]

for i in range(0,6):
    bank_add_full = bank_add_full.withColumn("education", when(col("education") == old_edu[i], new_edu[i]).otherwise(col("education")))

In [19]:
bank_full = bank_full.drop("balance", "day")

In [20]:
bank_add_full = bank_add_full.drop("day_of_week")

## Concat two dataframes

In [21]:
bank_data = bank_add_full.union(bank_full)

In [22]:
bank_data.count()

86399

In [23]:
bank_data.summary()

DataFrame[summary: string, age: string, job: string, marital: string, education: string, default: string, housing: string, loan: string, contact: string, month: string, year: string, duration: string, campaign: string, pdays: string, previous: string, poutcome: string, emp_var_rate: string, cons_price_idx: string, cons_conf_idx: string, euribor_3m: string, nr_employed: string, y: string]

In [24]:
cat_col = ["job","marital","education","default","housing","loan","contact","month","year","poutcome","y"]
cont_col = ["age","duration","campaign","pdays","previous","emp_var_rate","cons_price_idx","cons_conf_idx","euribor_3m","nr_employed"]
categories = bank_data.select(cat_col)
continuous = bank_data.select(cont_col)

### value counts

In [25]:
for columns in categories:
    print("Column Name", columns)
    print("-----------------------")
    counts = bank_data.groupBy(columns).count()
    counts.show()
    print("     ")
    print("******************************************************")
    print("     ")

Column Name Column<'job'>
-----------------------
+-------------+-----+
|          job|count|
+-------------+-----+
|   management|12382|
|      retired| 3984|
|      unknown|  618|
|self-employed| 3000|
|      student| 1813|
|  blue-collar|18986|
| entrepreneur| 2943|
|       admin.|15593|
|   technician|14340|
|     services| 8123|
|    housemaid| 2300|
|   unemployed| 2317|
+-------------+-----+


******************************************************

Column Name Column<'marital'>
-----------------------
+--------+-----+
| marital|count|
+--------+-----+
| unknown|   80|
|divorced| 9819|
| married|52142|
|  single|24358|
+--------+-----+


******************************************************

Column Name Column<'education'>
-----------------------
+-------------------+-----+
|          education|count|
+-------------------+-----+
|professional_course| 5243|
|           basic_4y| 4176|
|            unknown| 3588|
|           basic_9y| 6045|
|         illiterate|   18|
|           basic_6y| 2292|
|        high_school| 9515|
|  university_degree|12168|
|           tertiary|13301|
|          secondary|23202|
|            primary| 6851|
+-------------------+-----+


******************************************************

Column Name Column<'default'>
-----------------------
+-------+-----+
|default|count|
+-------+-----+
|unknown| 8597|
|     no|76984|
|    yes|  818|
+-------+-----+


******************************************************

Column Name Column<'housing'>
-----------------------
+-------+-----+
|housing|count|
+-------+-----+
|unknown|  990|
|     no|38703|
|    yes|46706|
+-------+-----+


******************************************************

Column Name Column<'loan'>
-----------------------
+-------+-----+
|   loan|count|
+-------+-----+
|unknown|  990|
|     no|71917|
|    yes|13492|
+-------+-----+


******************************************************

Column Name Column<'contact'>
-----------------------
+---------+-----+
|  contact|count|
+---------+-----+
| cellular|55429|
|telephone|17950|
|  unknown|13020|
+---------+-----+


******************************************************

Column Name Column<'month'>
-----------------------
+-----+-----+
|month|count|
+-----+-----+
|  jun| 5318|
|  aug| 6178|
|  may|13769|
|  mar|  546|
|  oct|  718|
|  jul| 7174|
|  nov| 4101|
|  apr| 2632|
|  dec|  182|
|  sep|  570|
| 2009|14862|
| 2008|27729|
| 2010| 2620|
+-----+-----+


******************************************************

Column Name Column<'year'>
-----------------------
+----+-----+
|year|count|
+----+-----+
|2009|11440|
|2008|27690|
|2010| 2058|
| jun| 5341|
| aug| 6247|
| may|13766|
| feb| 2649|
| sep|  579|
| mar|  477|
| oct|  738|
| jul| 6895|
| nov| 3970|
| apr| 2932|
| dec|  214|
| jan| 1403|
+----+-----+


******************************************************

Column Name Column<'poutcome'>
-----------------------
+-----------+-----+
|   poutcome|count|
+-----------+-----+
|    success| 2884|
|    failure| 9153|
|nonexistent|35563|
|    unknown|36959|
|      other| 1840|
+-----------+-----+


******************************************************

Column Name Column<'y'>
-----------------------
+------+-----+
|     y|count|
+------+-----+
|    no|36548|
|   yes| 4640|
|5176.3| 3485|
|5228.1|16081|
|5195.8| 3678|
|5023.5|  781|
|5099.1| 8551|
|4991.6|  781|
|4963.6|  592|
|5076.2| 1621|
|5008.7|  667|
|5017.5| 1017|
|5191.0| 7957|
+------+-----+


******************************************************

In [32]:
bank_data = bank_data.withColumn("job", when(col("job") == "admin.", "admin").otherwise(col("job")))

In [33]:
counts = bank_data.groupBy("job").count()
counts.show()

+-------------+-----+
|          job|count|
+-------------+-----+
|   management|12382|
|      retired| 3984|
|      unknown|  618|
|self-employed| 3000|
|      student| 1813|
|  blue-collar|18986|
| entrepreneur| 2943|
|   technician|14340|
|        admin|15593|
|     services| 8123|
|    housemaid| 2300|
|   unemployed| 2317|
+-------------+-----+

In [58]:
for column in bank_data.columns:
    bank_data = bank_data.withColumn(column, when(col(column).isin("unknown", "nonexistent"), None).otherwise(col(column)))

### Checking for null values

In [81]:
bank_data.agg(*[count(when(col(c).isNull(), c)).alias(c) for c in bank_data.columns]).show()

+---+---+-------+---------+-------+-------+----+-------+-----+----+--------+--------+-----+--------+--------+------------+--------------+-------------+----------+-----------+---+
|age|job|marital|education|default|housing|loan|contact|month|year|duration|campaign|pdays|previous|poutcome|emp_var_rate|cons_price_idx|cons_conf_idx|euribor_3m|nr_employed|  y|
+---+---+-------+---------+-------+-------+----+-------+-----+----+--------+--------+-----+--------+--------+------------+--------------+-------------+----------+-----------+---+
|  0|618|     80|     3588|   8597|    990| 990|  13020|    0|   0|       0|       0|    0|       0|   72522|           0|             0|         4052|      4052|       4052|  0|
+---+---+-------+---------+-------+-------+----+-------+-----+----+--------+--------+-----+--------+--------+------------+--------------+-------------+----------+-----------+---+

In [87]:
from pyspark.sql.functions import mean

# calculate the mean of non-null values in columns col1 and col2
mean_dict = bank_data.select(*(mean(c).alias(c) for c in cont_col)).first().asDict()

# replace null values with the mean in columns col1 and col2
bank_data = bank_data.fillna(mean_dict)

In [89]:
# calculate the mode of non-null values in columns col1 and col2
mode_dict = bank_data.select([when(col(c).isNull(), None).otherwise(col(c)).alias(c) for c in cat_col])\
              .groupBy().agg(*[count(c).alias(c) for c in cat_col]).first().asDict()

# replace null values with the mode in columns col1 and col2
bank_data = bank_data.fillna(mode_dict)

In [90]:
bank_data.agg(*[count(when(col(c).isNull(), c)).alias(c) for c in bank_data.columns]).show()

+---+---+-------+---------+-------+-------+----+-------+-----+----+--------+--------+-----+--------+--------+------------+--------------+-------------+----------+-----------+---+
|age|job|marital|education|default|housing|loan|contact|month|year|duration|campaign|pdays|previous|poutcome|emp_var_rate|cons_price_idx|cons_conf_idx|euribor_3m|nr_employed|  y|
+---+---+-------+---------+-------+-------+----+-------+-----+----+--------+--------+-----+--------+--------+------------+--------------+-------------+----------+-----------+---+
|  0|  0|      0|        0|      0|      0|   0|      0|    0|   0|       0|       0|    0|       0|       0|           0|             0|            0|         0|          0|  0|
+---+---+-------+---------+-------+-------+----+-------+-----+----+--------+--------+-----+--------+--------+------------+--------------+-------------+----------+-----------+---+