In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.master('local').appName('preprocessing').getOrCreate()

In [ ]:
bank_full = spark.read.csv('bank-full.csv',sep = ";",header=True,inferSchema=True)

In [41]:
bank_full_copy  = bank_full.select("*")

In [42]:
bank_full_copy.show()

+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
|age|         job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
| 58|  management| married| tertiary|     no|   2143|    yes|  no|unknown|  5|  may|     261|       1|   -1|       0| unknown| no|
| 44|  technician|  single|secondary|     no|     29|    yes|  no|unknown|  5|  may|     151|       1|   -1|       0| unknown| no|
| 33|entrepreneur| married|secondary|     no|      2|    yes| yes|unknown|  5|  may|      76|       1|   -1|       0| unknown| no|
| 47| blue-collar| married|  unknown|     no|   1506|    yes|  no|unknown|  5|  may|      92|       1|   -1|       0| unknown| no|
| 33|     unknown|  single|  unknown|     no|      1|     no|  no|unknown|  5|  may|     198|       1|   -1|       0| unknown| no|
| 35|  management| married| tertiary|     no|    231|    yes|  no|unknown|  5|  may|     139|       1|   -1|       0| unknown| no|
| 28|  management|  single| tertiary|     no|    447|    yes| yes|unknown|  5|  may|     217|       1|   -1|       0| unknown| no|
| 42|entrepreneur|divorced| tertiary|    yes|      2|    yes|  no|unknown|  5|  may|     380|       1|   -1|       0| unknown| no|
| 58|     retired| married|  primary|     no|    121|    yes|  no|unknown|  5|  may|      50|       1|   -1|       0| unknown| no|
| 43|  technician|  single|secondary|     no|    593|    yes|  no|unknown|  5|  may|      55|       1|   -1|       0| unknown| no|
| 41|      admin.|divorced|secondary|     no|    270|    yes|  no|unknown|  5|  may|     222|       1|   -1|       0| unknown| no|
| 29|      admin.|  single|secondary|     no|    390|    yes|  no|unknown|  5|  may|     137|       1|   -1|       0| unknown| no|
| 53|  technician| married|secondary|     no|      6|    yes|  no|unknown|  5|  may|     517|       1|   -1|       0| unknown| no|
| 58|  technician| married|  unknown|     no|     71|    yes|  no|unknown|  5|  may|      71|       1|   -1|       0| unknown| no|
| 57|    services| married|secondary|     no|    162|    yes|  no|unknown|  5|  may|     174|       1|   -1|       0| unknown| no|
| 51|     retired| married|  primary|     no|    229|    yes|  no|unknown|  5|  may|     353|       1|   -1|       0| unknown| no|
| 45|      admin.|  single|  unknown|     no|     13|    yes|  no|unknown|  5|  may|      98|       1|   -1|       0| unknown| no|
| 57| blue-collar| married|  primary|     no|     52|    yes|  no|unknown|  5|  may|      38|       1|   -1|       0| unknown| no|
| 60|     retired| married|  primary|     no|     60|    yes|  no|unknown|  5|  may|     219|       1|   -1|       0| unknown| no|
| 33|    services| married|secondary|     no|      0|    yes|  no|unknown|  5|  may|      54|       1|   -1|       0| unknown| no|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
only showing top 20 rows

In [ ]:
bank_full.count()

In [ ]:
bank_full.show()

In [ ]:
from pyspark.sql.functions import col,lit, when
month_lst = ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"]
new_data = bank_full.withColumn("year", 2008)
new_data = new_data.withColumn("year", when(col("month") == month_lst[0], 2008).otherwise(col("year")))
new_data.show()

In [113]:
def year_mapper(data, start_yr,end_yr):
    from pyspark.sql.functions import when, col, monotonically_increasing_id
    from pyspark.sql.window import Window
    from pyspark.sql.functions import lag
    month_lst = ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"]

    # Make a copy of the original dataframe
    new_data = bank_full.select("*")

    # Insert a new "year" column filled with zeros
    new_data = new_data.withColumn("year", lit(0))
    
    # Select columns and move year column to desired index
    columns = new_data.columns
    columns.remove("year")
    columns.insert(10, "year") # 10 is index
    new_data = new_data.select(*columns)

    # Set the first year to the start year
    current_year = int(start_yr)
    new_data = new_data.withColumn("row_index", monotonically_increasing_id())
    
    # set the value of the first row's year column to 2050
    new_data = new_data.withColumn("year", when(col("row_index") == 0, current_year).otherwise(col("year")))
    
    for i in range(1,len(new_data.collect()[1:])):
        # If the current month is earlier in the year than the previous month, increment the year
        if month_lst.index(new_data.filter(new_data.row_index == i).collect()[0]["month"]) < month_lst.index(new_data.filter(new_data.row_index == i-1).collect()[0]["month"]):
            current_year += 1

        new_data = new_data.withColumn("year", when(col("row_index") == i, current_year).otherwise(col("year")))

        # If the current year exceeds the end year, break out of the loop
        if current_year > end_yr:
            break
            
    return new_data.drop("row_index")

In [87]:
bank_full_yr.select(["month"])

DataFrame[month: string]

In [112]:
month_lst = ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"]

month_lst.index(bank_full_yr.filter(bank_full_yr.row_index == 1).collect()[0]["month"])

4

In [120]:

from pyspark.sql.functions import when, col, monotonically_increasing_id
from pyspark.sql.window import Window
from pyspark.sql.functions import lag

start_yr = 2008
end_yr = 2010
month_lst = ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"]

# Make a copy of the original dataframe
new_data = bank_full.select("*")

# Insert a new "year" column filled with zeros
new_data = new_data.withColumn("year", lit(0))
    
# Select columns and move year column to desired index
columns = new_data.columns
columns.remove("year")
columns.insert(10, "year") # 10 is index
new_data = new_data.select(*columns)

# Set the first year to the start year
current_year = int(start_yr)
new_data = new_data.withColumn("row_index", monotonically_increasing_id())
    
# set the value of the first row's year column to 2050
new_data = new_data.withColumn("year", when(col("row_index") == 0, current_year).otherwise(col("year")))
    
#for i in range(1,len(new_data.collect()[1:])):
for i in range(1, 11): 
    # If the current month is earlier in the year than the previous month, increment the year
    if month_lst.index(new_data.filter(new_data.row_index == i).collect()[0]["month"]) < month_lst.index(new_data.filter(new_data.row_index == i-1).collect()[0]["month"]):
        current_year += 1

    new_data = new_data.withColumn("year", when(col("row_index") == i, current_year).otherwise(col("year")))

    # If the current year exceeds the end year, break out of the loop
    if current_year > end_yr:
        break

In [121]:
new_data.show()

+---+------------+--------+---------+-------+-------+-------+----+-------+---+----+-----+--------+--------+-----+--------+--------+---+---------+
|age|         job| marital|education|default|balance|housing|loan|contact|day|year|month|duration|campaign|pdays|previous|poutcome|  y|row_index|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+----+-----+--------+--------+-----+--------+--------+---+---------+
| 58|  management| married| tertiary|     no|   2143|    yes|  no|unknown|  5|2008|  may|     261|       1|   -1|       0| unknown| no|        0|
| 44|  technician|  single|secondary|     no|     29|    yes|  no|unknown|  5|   0|  may|     151|       1|   -1|       0| unknown| no|        1|
| 33|entrepreneur| married|secondary|     no|      2|    yes| yes|unknown|  5|   0|  may|      76|       1|   -1|       0| unknown| no|        2|
| 47| blue-collar| married|  unknown|     no|   1506|    yes|  no|unknown|  5|   0|  may|      92|       1|   -1|       0| unknown| no|        3|
| 33|     unknown|  single|  unknown|     no|      1|     no|  no|unknown|  5|   0|  may|     198|       1|   -1|       0| unknown| no|        4|
| 35|  management| married| tertiary|     no|    231|    yes|  no|unknown|  5|   0|  may|     139|       1|   -1|       0| unknown| no|        5|
| 28|  management|  single| tertiary|     no|    447|    yes| yes|unknown|  5|   0|  may|     217|       1|   -1|       0| unknown| no|        6|
| 42|entrepreneur|divorced| tertiary|    yes|      2|    yes|  no|unknown|  5|   0|  may|     380|       1|   -1|       0| unknown| no|        7|
| 58|     retired| married|  primary|     no|    121|    yes|  no|unknown|  5|   0|  may|      50|       1|   -1|       0| unknown| no|        8|
| 43|  technician|  single|secondary|     no|    593|    yes|  no|unknown|  5|   0|  may|      55|       1|   -1|       0| unknown| no|        9|
| 41|      admin.|divorced|secondary|     no|    270|    yes|  no|unknown|  5|   0|  may|     222|       1|   -1|       0| unknown| no|       10|
| 29|      admin.|  single|secondary|     no|    390|    yes|  no|unknown|  5|   0|  may|     137|       1|   -1|       0| unknown| no|       11|
| 53|  technician| married|secondary|     no|      6|    yes|  no|unknown|  5|   0|  may|     517|       1|   -1|       0| unknown| no|       12|
| 58|  technician| married|  unknown|     no|     71|    yes|  no|unknown|  5|   0|  may|      71|       1|   -1|       0| unknown| no|       13|
| 57|    services| married|secondary|     no|    162|    yes|  no|unknown|  5|   0|  may|     174|       1|   -1|       0| unknown| no|       14|
| 51|     retired| married|  primary|     no|    229|    yes|  no|unknown|  5|   0|  may|     353|       1|   -1|       0| unknown| no|       15|
| 45|      admin.|  single|  unknown|     no|     13|    yes|  no|unknown|  5|   0|  may|      98|       1|   -1|       0| unknown| no|       16|
| 57| blue-collar| married|  primary|     no|     52|    yes|  no|unknown|  5|   0|  may|      38|       1|   -1|       0| unknown| no|       17|
| 60|     retired| married|  primary|     no|     60|    yes|  no|unknown|  5|   0|  may|     219|       1|   -1|       0| unknown| no|       18|
| 33|    services| married|secondary|     no|      0|    yes|  no|unknown|  5|   0|  may|      54|       1|   -1|       0| unknown| no|       19|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+----+-----+--------+--------+-----+--------+--------+---+---------+
only showing top 20 rows

In [132]:
new_data.filter( new_data.row_index == 11 ).collect()

[Row(age=29, job='admin.', marital='single', education='secondary', default='no', balance=390, housing='yes', loan='no', contact='unknown', day=5, year=0, month='may', duration=137, campaign=1, pdays=-1, previous=0, poutcome='unknown', y='no', row_index=11)]

In [ ]:
%%time
bank_full_yr = year_mapper(data = bank_full, start_yr=2008,end_yr=2010)
bank_full_yr.show()

In [62]:

print(bank_full_yr.dropDuplicates(["year"]).select("year").collect())

[Row(year=2008), Row(year=2010), Row(year=2009), Row(year=2011)]

In [ ]:

bank_full_yr.write.options(header='True', delimiter=',') \
 .csv("D:/Lemonrice/virtual_demo/bank_full_yr/")

In [63]:

bank_pdf = bank_full_yr.toPandas()

In [64]:
bank_pdf.to_csv("bank_pdf_6thMarch.csv")